<ion-header [translucent]="true">
  <ion-toolbar color="p1">
    <ion-title>
      <ion-icon name="flower-outline"></ion-icon> Product
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="p3">
<ion-grid>
  <ion-col size="12" size-md="6" size-lg="6" *ngFor="let i of items">
    <ion-card color="p2" (click)="Gotodetail(i)" >
      <img [src]="i.imagesURL" alt="">
      <ion-card-header>
        <ion-card-title>{{i.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{i.price}} THB</ion-card-content>
    </ion-card>
  </ion-col>
</ion-grid>
</ion-content>
